/* Contenedor de la alerta */
.contenedorAlert {
  background-color: #ffffff;  
  border-radius: 30px;         
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);  
  text-align: center;
}

.title {
  color: #9d7abd;  /* Un tono suave de lavanda */
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
}

/* Contenedor principal */
.contenedorPrincipal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.parra {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}

/* Imagen de login */
.imglogin {
  width: 100%;
  max-width: 550px;  
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Estilo de los inputs */
.inpuesti {
  width: 100%;
  max-width: 300px; /* Limitar el ancho */
  padding: 12px;
  border: 2px solid #d1c4e9; /* Color de borde suave */
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  outline: none;
  color: #333;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.inpuesti:focus {
  border-color: #6c4f86;  /* Lavanda suave al enfocar */
}

/* Botón de validación */
.btnvalidar {
  background-color: #6c4f86;  /* Color principal del botón */
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btnvalidar:hover {
  background-color: #c76497; 
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.btnvalidar:active {
  transform: translateY(1px); /* Efecto de presionar el botón */
  box-shadow: none;
}

/* Estilos generales */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #6c4f86;
}

