.contenedorTitulos{
    text-align: center;
    margin-top: 70px;
}

.sobrenos{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
}

.titulosacer{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    color: #3489a5;
    font-size: medium;  
}

.parrafos{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 700px;
    margin: auto;
}

.imgsobre{
    width: 500px;
}