
.contenedorAlert { 
    background-color: rgb(204, 211, 165);
    border-radius: 100px;
}

.title{
    color: rgb(211, 173, 173);
}

.contenedorPrincipal{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    gap: 5px;
}

.imglogin{
    margin-left: 80px;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    margin-top: 50px;
}

.inpuesti {
    width: 250px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
    outline: none;
    color: rgb(41, 51, 112);
  }
